body {background-color: bisque; text-align: center} /* BISQUE‽ */
.manual-btn {border:none;display:inline-block;outline:0;padding:20px 80px;vertical-align:middle;overflow:hidden;font-size:150%;color:coral;background-color:dimgray;white-space:nowrap}
.manual-btn:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);background-color: ghostwhite}