<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Pi Shade Controller</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Shade Controller</h2>
    <div class="status-text">
        <p id="current-status">Shades are (probably): [coming soon]</p>
    </div>
    <div class="manual-btns">
        {% for name, button in buttons.items() %}
        <button class="manual-btn manual-btn-{{ button }}" name="{{ name }}" value="{{ button }}">
                {{ name }}
            </button> {% endfor %}
    </div>
    <div class="response-text">
        <p id="manual-response"></p>
    </div>

    <script>
    addEventListener("DOMContentLoaded", function() {
        var buttons = document.querySelectorAll(".manual-btn");
        for (var i=0; i<buttons.length; i++) {
            var button = buttons[i];
            button.addEventListener("click", function(e) {
                e.preventDefault();
                var b = e.target;
                var command = b.value;

                var request = new XMLHttpRequest();

                request.onload = function (){
                    document.getElementById("manual-response").innerHTML = request.responseText;
                };
                request.open("GET", "/" + command, true);
                request.send();
            });
        }
    }, true);  
    </script>
</body>

</html>